<h1>Expiry List</h1>

<table class="fridge_foods">
  <tr class="expired">
    <th>Item</th>
    <th>Expiration</th>
    <th></th>
  </tr>
<% @fridge_foods.find_all{|f| f.expiration != nil && (f.expiration - Date.current()).floor < 0}.each do |f| %>
  <tr>
    <td><%= f.desc %></td>
    <td><%= (f.expiration - Date.current()).to_int.abs.to_s + " days expired" %></td>
    <td><%= link_to 'Delete', f, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr class="near">
    <th>Item</th>
    <th>Expiration</th>
    <th></th>
  </tr>
<% @fridge_foods.find_all{|f| f.expiration != nil && (f.expiration - Date.current()).floor < 3 && (f.expiration - Date.current()).floor >= 0}.each do |f| %>
  <tr>
    <td><%= f.desc %></td>
    <td><%= (f.expiration - Date.current()).to_int.to_s + " days left" %></td>
    <td><%= link_to 'Delete', f, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  
  <tr class="good">
    <th>Item</th>
    <th>Expiration</th>
    <th></th>
  </tr>
<% @fridge_foods.find_all{|f| f.expiration != nil && (f.expiration - Date.current()).floor > 3}.each do |f| %>
  <tr>
    <td><%= f.desc %></td>
    <td><%= (f.expiration - Date.current()).to_int.to_s + " days left"  %></td>
    <td><%= link_to 'Delete', f, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  
</table>

<br />
<div class="big_button">
<%= link_to 'Add item', new_fridge_food_path %>
</div>
