<p id="notice"><%= notice %></p>

<p>
  <b>Action:</b>
  <%= @log.action %>
</p>

<p>
  <b>User:</b>
  <%= @log.user %>
</p>


<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
